body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}
.container{
    flex:1;
}
.navbar-nav{
   
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a :hover{
    text-decoration: underline;
    
}

.f-info-socials,.f-info-links{
    width: 100%;
    vertical-align: middle;
    
    
    

}
.f-info-socials i{
    font-size: 1.2rem;
   margin-right: 1rem;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* CARDS */
/* important is written becasue we are using bootstrap card effect we have to overlap our css so we mark our styling as important */
.card{
    border: none !important;
    margin-bottom: 2rem;
    
}
.card-img-top{
    border-radius: 1rem !important;  /*curved radius along image */
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}

/* Card effect */
.card-img-overlay{
    opacity: 0;
    
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color:white;
    
}
.add-btn{
    background-color: #fe424d !important;
    border: none !important; 

}

/* SHOW PAGE */
.show-img{
    height: 30vh;
}
.btns {
    display: flex;
    justify-content: center;   /* centers horizontally */
    gap: 1rem;                 /* space between buttons */
    margin-top: 1rem;
}


.edit-btn {
    background-color: #fe424d;
    color: white;
    padding: 0.6rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    text-decoration: none;
    transition: 0.2s ease;
}

.edit-btn:hover {
    background-color: #e53942;
    color: white;
}

.delete-btn {
    background-color: #222;
    color: white;
    padding: 0.6rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    transition: 0.2s ease;
}

.delete-btn:hover {
    background-color: #000;
}
